
  .site-title { margin:0; font-size:1em }
  .site-title a { margin:0; display:inline-block }
  .site-title a span {
    font-size:1.618em;
    padding:0 10px 30px 0; 
    /*padding:10px 10px 30px;*/
    display:inline-block;
    /*background:radial-gradient(circle 45px at 100px 50%, #666 20px);*/
  }
  
  @media (max-width:30em) {
    .site-title a span { font-size:1.236em }
  } 

  body { margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0; }
  .site-header { margin-top:0 }
  .site-footer { margin-bottom:0 }
  
  /*h3 {
    padding:.3em 0 .3em .5em;
    border-left:.8em solid #e0ba1d;
  }*/

  @media screen, projection {  
    .site-header {
      padding-top:.4em;
      /*background-image:linear-gradient(to bottom, #9cd7ef 0%, #fefefe 2%);*/
      /*background-image:linear-gradient(to bottom, #02539c 0, #fefefe 100%);*/
      /*border-bottom:3px solid #02539c;*/
      margin-bottom:2.6em;
    }
  
    .site-footer {
      /*background-image:linear-gradient(to bottom, #02539c 0, #fefefe 2%);*/
      border-top:2.6em solid #4da4d7;
      margin-top:1.6em;
    }
  }
  
  
  .site-header .container, .site-header .container a {}
  
  @media screen, projection {
    .site-header,
    .site-header a { background-color:#4da4d7; color:#fefefe }
    .site-title a:before {
      vertical-align:middle;
      display:inline-block;
      margin:4px 4px 12px 0;
      padding-right:12px;
      content:url(http://eck.airve.com/static/logo/eckankar-symbol_trim_60.png);
    }

    .site-footer, .site-footer a {
      /*background-color:#02539c; color:#ddd6b8;*/
      background-color:#e8f2fb;
    }  
  }
  .site-header a:focus { 
    /*color:#815e17;*/
  }
  .site-header a:hover { 
    /*color:#4da4d7;*/
  }
  a:hover{
    transition:background-color .2s ease-out;
	}

  /*
  html { background-color:#02539c; color:#fefefe; }
  body { background-color:#fefefe; color:#222; margin:0; padding:0; }
  */
  
  
  